<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- linc CSS -->
    <link rel="stylesheet" media="screen" href="bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="bootstrapcss/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="bootstrapcss/style.css">
    <link rel="stylesheet" media="screen" href="bootstrapcss/angular-csp.css">
    <link rel="stylesheet" media="screen" href="bootstrapcss/angular-busy.min.css">

    <!-- connect AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-cookies.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-local-storage.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    <script src="js/angular/angular-loader.min.js"></script>
    <script src="js/angular/angular-busy.min.js"></script>



    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!-- connect app files -->
    <!--<script src="app.js"></script>-->
    <!--<script src="js/controller/AuthService.js"></script>-->
    <!--<script src="js/controller/LoginController.js"></script>-->
    <!--<script src="js/controller/AppController.js"></script>-->
    <!--<script src="js/controller/ContentController.js"></script>-->
    <!--<script src="js/controller/NavController.js"></script>-->


    <script>
        $(function () {
            $('#visitsChart').highcharts({
                title: {
                    text: 'User visits'
                },
                chart: {
                    type: 'spline'
                },

                tooltip: {
                    backgroundColor: null,
                    borderWidth: 0,
                    shadow: false,
                    useHTML: true,
                    style: {
                        padding: 0
                    }
                },

                xAxis: {
                    categories: ['1 Jan', '2 Jan', '3 Jan', '4 Jan', '5 Jan']
                },

                series: [{
                    name: "Pages per visits",
                    data: [2.9, 30, 10.4, 32.2, 0]
                }]
            });
        });
    </script>


</head>

<!-- Body-->
<body>

<!-- Header -->
<!--<header class="modal-body ">-->
<!--<h1 class="text-center">Find out your horoscope</h1>-->

<!--<div ng-if="isAuthorized()" class="text-right">Welcome, {{ loginUser.email + ' (' + (loginUser.zodiac | capitalize ) + ')' }}-->
<!--<button ng-click="logout()" id="btn_logout" name="btn_logout" class="btn btn-primary btn-xs">LogOut</button>-->
<!--</div>-->
<!--</header>-->


<!--User Content-->
<main class="container-fluid">
    <div class="row">

        <!--Sidebar content-->
        <div class="col-md-1 contact-sidebar">
            <div class="contact-block">
                <div class="user-icon"><span></span></div>
                <div>CONTACT</div>
            </div>
        </div>

        <!--Main content-->
        <div class="col-md-11 contact-main">
            <div class="col-md-5 contact-form">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Civility</label>
                        <div class="col-md-3">
                                <select class="form-control">
                                    <option>Select...</option>
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Miss</option>
                                    <option>Ms</option>
                                    <option>Other</option>
                                </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstname" class="col-sm-2 control-label">Firstname</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputFirstname">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputLastName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputEmail">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputHomePhone" class="col-sm-2 control-label">Home Phone</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputHomePhone">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputMobilePhone" class="col-sm-2 control-label">Mobile Phone</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputMobilePhone">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2"></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputAddress1" placeholder="Address 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2" class="col-sm-2"></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Address 2">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label custom-label">Address</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="inputPostCode" placeholder="Post Code">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="inputCity" placeholder="City">
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2"></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputCountry" placeholder="Country">
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2"></label>
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-success btn-block">SAVE CHANGES</button>
                        </div>
                    </div>

                </form>
            </div>

            <div id="visitsChart" class="col-md-7 visits-chart">

                asdfDAFJKDSFKdsfjdsH

            </div>

        </div>
    </div>
</main>


<!--Sites Content-->
<!--<main class="container-fluid">-->
<!--<div class="row">-->

<!--&lt;!&ndash;Sidebar content&ndash;&gt;-->
<!--<div class="col-md-2 content-sidebar">-->
<!--<div class="list">-->
<!--Sites-->
<!--<ul class="list-unstyled">-->
<!--<li>-->
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input type="checkbox"> Shop Online-->
<!--</label>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input type="checkbox"> Travel-->
<!--</label>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;Main content&ndash;&gt;-->
<!--<div class="col-md-10 content-main">-->
<!--<table class="table table-hover borderless">-->
<!--<thead>-->
<!--<tr>-->
<!--<th></th>-->
<!--<th>Creation Date</th>-->
<!--<th>Site</th>-->
<!--<th>Lastname</th>-->
<!--<th>Firstname</th>-->
<!--<th>Email</th>-->
<!--<th>Phone Number</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>-->
<!--<button type="button" class="btn user-btn">Take</button>-->
<!--</td>-->
<!--<td>09/04 15:50</td>-->
<!--<td>Shop Online</td>-->
<!--<td>Avenati</td>-->
<!--<td>Christian</td>-->
<!--<td></td>-->
<!--<td>34543523452435343</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<button type="button" class="btn user-btn">Take</button>-->
<!--</td>-->
<!--<td>09/04 15:50</td>-->
<!--<td>Travel</td>-->
<!--<td>White</td>-->
<!--<td>Andrew</td>-->
<!--<td>wd@gmail.com</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--</div>-->
<!--</div>-->
<!--</main>-->


<!--<div class="container-fluid ng-cloak" >-->
<!--<div class="row">-->
<!--<nav-panel></nav-panel>-->
<!--<content-panel></content-panel>-->

<!--</div>-->
<!--</div>-->

<!--<footer></footer>-->
</body>
</html>