<form class="form-horizontal"  method="post"
      name="loginForm" ng-submit="loginForm.$valid && logCtrl.login(loginData)" novalidate>
    <!--ng-controller="LoginController"  ng-submit="login(credentials)"-->

    <!-- login form -->
    <div class="modal-header">
        <h3>User Login</h3>
    </div>

    <!-- body modal form -->
    <div class="modal-body">

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-md-4">
                <input type="email" ng-model="loginData.email" class="form-control" id="email" placeholder="Email" required autofocus>
            </div>
        </div>

        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Date</label>
            <div class="col-md-4">
                <input type="date" ng-model="loginData.date"  class="form-control" id="date" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-md-4">
                <p class="help-block"><a href="#">Forgot Password</a></p>
            </div>
        </div>
        <div class="form-group">

        </div>
    </div>

    <!-- footer modal form -->
    <div class="modal-footer">
        <input type="reset"  value="Cancel" class="btn"/>
        <input type="submit"  id="btn_login" name="btn_login" value="Login" ng-click="loader()"  class="btn btn-primary"/>
    </div>

</form>


